.home{
  position: relative;
  .leftPopup{
    background-color: #fffbf2;
  }
  .circle-ball{
    width: 0.625rem;
    height: 0.625rem;
    position: fixed;
    left: 7rem;
    top: 3rem;
    border-radius: 50%;
    @include shadow();
    z-index: 99999;
  }
  .searchInput{
    margin-top: 2.25rem;
    width: 100vw;
    position: relative;
    z-index: 99;
    .inputBlock{
      height: 1rem;
      width: 90%;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 2px 2px 0px 0px #c3b7b7;
      border-bottom: 2px solid #b79d9d;
      border-right: 2px solid #b79d9d;
      @include aic_jcc();
      .choseType{
        width: 12%;
        height: 100%;
        @include aic_jcc();
      }
      .other{
        flex: 1;
        height: 100%;
        @include aic_jcc();
        justify-content: space-evenly;
        input{
          font-size: 12px;
          color: #666666;
          height: 100%; 
          width: 70%;
        }
        .btn{
          flex: .8;
          height: 70%;
          @include aic_jcc();
          font-size: 15px;
          background-color: #0ed80e;
          color: #ffffff;
          border-radius: 5px;
          box-shadow: 3px 3px 5px #e0d3d3;
        }
        .btn:active{
          background-color: #188618;
        }
      }
    }
  }
  .history{
    width: 90vw;
    height: 60px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: .125rem;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: .05rem;
    position: relative;
    box-shadow: 2px 2px 0px 0px #c3b7b7;
    font-size: 10px;
  }
}