.singerDetail{
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  height: 100vh;
  overflow-y: hidden;
  .bg-image{
    position: relative;
    width: 100%;
    transform-origin: top;
    .filter{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(7, 17, 27, 0.4);
      backdrop-filter: blur(0px);
    }
    .singerInfo{
      position: absolute;
      bottom: 30%;
      left: 5%;
      width: 90%;
      color: #ada7a7;
      p{
        font-family: Serif;
      }
      .artist{
        margin-top: .2rem;
        font-size: medium;
        display: inline-block;
        padding: .1rem;
        border: 1px dotted #ada7a7;
        font-family: hyxhkj;
      }
      .artist:nth-child(2n+1){
        margin-left: .1rem;
      }
    }
  }
  .songs{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top-right-radius: 10%;
    box-sizing: border-box;
    top: 50%;
    box-shadow: 5px 5px 7px 0px #888888;
    .singer-opus{
      height: 100%;
      width: 100vw;
      position: relative;
      overflow: hidden;
      .van-swipe{
        height: 100%;
        ::v-deep(.van-swipe__track){
          height: 100%;
          margin: 0 auto;
          margin-top: 1rem;
          overflow: hidden;
          .van-swipe-item{
            .songsScroll, .albumsScroll{
              width: 85vw;
              height: 100%;
              .songsScroll-content{
                .songs-item ~ .songs-item{
                  margin-top: .5rem;
                }
                .songs-item{
                  margin-left: 5%;
                  color: $explain-text-color;
                  display: flex;
                  align-items: center;
                  .pic{
                    img{
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                    }
                  }
                  .singer{
                    font-size: .3rem;
                    margin-left: .3rem;
                    width: 65%;
                    .albumName{
                      margin-top: .2rem;
                      font-size: .2rem;
                      display: inline-block;
                    }
                  }
                  .other{
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    .loadMore{
                      width: .6rem;
                      height: .6rem;
                      background-color: #f2d4a7;
                      @include aic_jcc();
                      @include shadow2-1();
                      border-radius: 50%;
                    }
                  }
                }
              }
              .albumsScroll-content{
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .album-item{
                  flex: 0 0 48%;
                  margin-top: .3rem;
                  border-radius: 3%;
                  overflow: hidden;
                  .pic{
                    width: 100%;
                    position: relative;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                    .tips{
                      position: absolute;
                      bottom: .2rem;
                      left: .1rem;
                      padding: .1rem;
                      background-color: #c5c3c0;
                      opacity: .5;
                      border: 1px dotted #b0b0b0;
                      font-size: 10px;
                      color: #545050;
                    }
                  }
                  .info{
                    font-size: .2rem;
                    .name{
                      margin-top: .1rem;
                      font-family: hyxhkj;
                      font-size: .35rem;
                    }
                    .company{
                      margin-top: .1rem;
                      color: #888888;
                    }
                  }
                }
              }
            }
            .albumsScroll{
              width: 90%;
              margin: 0 auto;
            }
          }
        }
        .swipe-indicator{
        width: 90%;
        position: absolute;
        top: 0.15rem;
        text-align: center;
        display: flex;
        margin-left: 5%;
        .indicator{
          font-size: .3rem;
          font-family: hyxhkj;
          transition: all .4s ease-in-out;
          background-color: $color-text-lightGray;
          padding: 0.125rem;
          box-sizing: border-box;
        }
        .indicator ~ .indicator{
          margin-left: .2rem;
        }
        .indicatorActive{
          background-color: $color-theme-d;
        }
      }
      }
    }
  }
}